MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority
PORT=8000
JWT_SECRET=233aa4d8bc77ef098717c371fbb72c6a29d6a33c9926658eed129cfd7d5a727e
ALLOWED_ORIGINS=http://localhost:5173
